<%- include('template/header') %>
	<%- include('template/sidebar') %>
		<%- include('template/header_main') %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Investment Plans</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">


									<div class="container mt-5">
										<div class="row">
											<!-- Basic Plan -->
											<div class="col-md-4">
												<div class="card text-center">
													<div class="card-header bg-primary text-white">
														Basic Plan
													</div>
													<div class="card-body">
														<h5 class="card-title">$200- $500</h5>
														<p class="card-text">Ideal for individuals just getting started.</p>
														<ul class="list-group list-group-flush">
															<li class="list-group-item">Get 20% Of Your Investnent</li>
															<li class="list-group-item"><i class="fa-solid fa-circle-check"></i> Daily for 3 times</li>
															<li class="list-group-item">Single User</li>
														</ul>
														<a href="#" class="btn btn-primary mt-3">Choose Plan</a>
													</div>
												</div>
											</div>
											<!-- Standard Plan -->
											<div class="col-md-4">
												<div class="card text-center">
													<div class="card-header bg-success text-white">
														Standard Plan
													</div>
													<div class="card-body">
														<h5 class="card-title">₦10,000 / month</h5>
														<p class="card-text">Perfect for small teams and businesses.</p>
														<ul class="list-group list-group-flush">
															<li class="list-group-item">50 GB Storage</li>
															<li class="list-group-item">Priority Support</li>
															<li class="list-group-item">Up to 5 Users</li>
														</ul>
														<a href="#" class="btn btn-success mt-3">Choose Plan</a>
													</div>
												</div>
											</div>
											<!-- Premium Plan -->
											<div class="col-md-4">
												<div class="card text-center">
													<div class="card-header bg-danger text-white">
														Premium Plan
													</div>
													<div class="card-body">
														<h5 class="card-title">₦20,000 / month</h5>
														<p class="card-text">Best for large organizations and enterprises.</p>
														<ul class="list-group list-group-flush">
															<li class="list-group-item">Unlimited Storage</li>
															<li class="list-group-item">24/7 Support</li>
															<li class="list-group-item">Unlimited Users</li>
														</ul>
														<a href="#" class="btn btn-danger mt-3">Choose Plan</a>
													</div>
												</div>
											</div>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

<%- include('template/footer') %>