


<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from preview.uideck.com/items/cryptoland/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Nov 2024 10:45:06 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= locals.title %></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
     <!-- Preloader -->
     <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- Start Account Signup Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    
                    <form class="card login-form inner-content"  id="form_register">
                        <div class="card-body">
                            <div class="title">
                                <h3>Sign Up Now</h3>
                                <div id="msg"></div>
                            </div>
                            <div class="or"><span></span></div>
                            <div class="input-head">
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <div class="form-group input-group">
                                            <label><i class="lni lni-user"></i></label>
                                            <input class="form-control" type="text" id="name" name="name" placeholder="Your name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <div class="form-group input-group">
                                            <label><i class="lni lni-envelope"></i></label>
                                            <input class="form-control" type="email" id="email" name="email" placeholder="Your email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group input-group">
                                    <label><i class="lni lni-lock-alt"></i></label>
                                    <input class="form-control" type="password" id="password" name="password" placeholder="Your password">
                                </div>
                                <div class="form-group input-group">
                                    <label><i class="lni lni-lock-alt"></i></label>
                                    <input class="form-control" type="password" id="con_password" name="con_password" placeholder="Confirm password">
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Create Account</button>
                            </div>
                            <h4 class="create-account">Already have an account? <a href="/signin">Sign In</a>
                            </h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Signup Area -->
    <%- include('../partials/footer') %>